/* Work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Common shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body,
footer {
    background-color: #FFF;
}

.btn-primary {
    font-size: 20px;
    font-weight: 600;
    margin-top: 35px;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    color: #FFF;
    background: #FF900E;
    cursor: pointer;
}

.title-primary {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.description-primary,
.features .cards-description {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 35px;
    line-height: 1.6rem;
}

.color-primary,
.card-title,
.cards-description {
    color: #727272;
}

/* Header styles */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 40px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    gap: 30px;

}

nav li {
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

header img {
    width: 100%;
}

/* Banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 100px auto 0;
}

.banner-content .banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner img {
    margin-top: 50px;
}

/* Main section styles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* Teams section styles */
.teams-container {
    display: flex;
    align-items: center;
    margin-top: 85px;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding: 0 75px;
}

.teams-title {
    max-width: 470px;
}

.teams-title .quick-list {
    font-size: 2.8rem;
    font-weight: 500;
}

.teams-title .of-our {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.teams-title .text-features {
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}

/* Feature section styles */
.features {
    margin-top: 130px;
    display: flex;
    gap: 130px;
}

.features-title {
    border-left: 5px solid #FF900E;
    padding-left: 25px;
}

.features-description {
    margin-top: 25px;
}

.features-contents .cards {
    margin-top: 30px;
    border-radius: 8px;
    padding: 30px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features-contents .cards .cards-title {
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
}

.features-contents .cards .cards-description {
    margin-top: 10px;
}

.ten-years-badge {
    text-align: center;
    width: 340px;
    border-radius: 8px;
    padding: 45px;
    color: #FFF;
    background: #FF900E;
    position: relative;
    bottom: 120px;
    right: 90px;
}

.ten-years-badge h2 {
    font-size: 4rem;
    font-weight: 700;
}

.ten-years-badge p {
    font-size: 1.4rem;
    font-weight: 500;
}


/* Facts section styles */
.facts-section {
    margin-top: 10px;
}

.facts-description,
.sponsors-description {
    margin-top: 25px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.facts-card-container .cards {
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 42px 38px;
}

.facts-card-container .cards .card-stats {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
}

.facts-card-container .cards .card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

/* Sponsors styles */
.sponsors {
    text-align: center;
    margin-top: 130px;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

/* Footer section styles */
footer {
    text-align: center;
}

.footer-content {
    max-width: 1440px;
    margin: 130px auto;
    border-radius: 8px;
    padding: 40px;
    background: #FFF4E7;
}

.footer-content p {
    color: #424242;
    font-size: 1.25rem;
    font-weight: 400;
}

/* Responsive media queries */
/* Mobile device */
@media screen and (max-width: 576px) {
    header {
        padding: 25px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container,
    .features {
        flex-direction: column;
        gap: 50px;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-section,
    .features,
    footer {
        padding: 0 25px;
    }

    .features-img img {
        width: 100%;

    }

    .ten-years-badge {
        bottom: 60px;
        right: 0;
        margin: auto;
    }

    .facts-section {
        margin-top: 70px;
    }
}

/* Tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container,
    .sponsors-img-container,
    .features {
        flex-direction: column;
        gap: 50px;
    }

    .facts-section,
    .sponsors,
    .features,
    footer {
        padding: 0 25px;
    }

    .facts-card-container {
        justify-content: space-between;
        gap: 15px;
    }

    .features-img {
        margin: 0 auto;
    }

    .ten-years-badge {
        margin: auto;
    }
}